        <!-- Top navigation Start -->
        <div class="top-header">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-6">
                        <div class="logo">
                            <a href="">
                                <img src="img/logo.png" alt="Logo" style="width: 7rem; height: 7rem;">
                            </a>
                        </div>
                    </div>
                    <!-- <div class="col-md-6">
                        <div class="search">
                            <input type="text" placeholder="Search">
                            <button><i class="fa fa-search"></i></button>
                        </div>
                    </div> -->
                    <div class="col-md-6">
                        <div class="user">
                            <div class="cart">
                                <i class="fa fa-phone"></i>
                                <!-- <span>(0)</span> -->
                            </div>
                            <div class="cart" style="padding-left: 0rem;">
                                <h4 style="color: rgb(64, 64, 145);">+252-63-3571604</h4> 
                            </div>
                            <!-- <div class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">My Account</a>
                                <div class="dropdown-menu">
                                    <a href="#" class="dropdown-item">Login</a>
                                    <a href="#" class="dropdown-item">Register</a>
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Top navigation End -->
               <!-- Header Start -->
               <div class="header">
                <div class="container">
                    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
                        <a href="#" class="navbar-brand">MENU</a>
                        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                            <span class="navbar-toggler-icon"></span>
                        </button>
    
                        <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                            <div class="navbar-nav m-auto">
                                <a href="/" class="nav-item nav-link active">Home</a>
                                <!-- <a href="/womenclote" class="nav-item nav-link">Products</a> -->
                                <div class="nav-item dropdown">
                                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">categorys
                                    </a>
                                    <div class="dropdown-menu">
                                        <a href="/dhardumar" class="dropdown-item">dharka dumarka</a>
                                        <a href="/kabahadumarka" class="dropdown-item">kabaha dumarka</a>
                                        <a href="/shandado" class="dropdown-item">shandado</a>
                                        <a href="/qurxiyayaal" class="dropdown-item">quxbilayaal</a>
                                        <a href="my-account.html" class="dropdown-item"></a>
                                    </div>
                                </div>
                                <a href="/contact" class="nav-item nav-link">Contact Us</a>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
            <!-- Header End -->
            